:root {
	--first-color: #212121;
	--second-color: #ffffff;
	--descr-color: #757575;
	--second-b-color: #2f303a;
	--third-b-color: #f5f4fa;
	--active-color: #2196f3;
}
li {
	margin: 0px;
	padding: 0px;
}
.container {
	width: 1200px;
	margin: auto;
}

.wrapper {
	flex-direction: row-reverse;

	justify-content: center;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	background: var(--second-color);
	line-height: 1.7;
	color: var(--first-color);
}

.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
}
.logo_color {
	color: var(--active-color);
}

.top-bar {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--first-color);

	flex-direction: row;
}
.top-bar:hover {
	color: var(--active-color);
}
.all-contacts {
	display: flex;

	align-items: center;

	text-decoration: none;

	justify-content: center;
}
.nav-links {
	list-style-type: none;
	display: flex;
	gap: 46px;
	padding-left: 93px;
}
.main-contacts {
	padding-left: 364px;
	display: flex;
	color: var(--descr-color);
	text-decoration: none;
}

.contact-links-top-mail {
	text-decoration: none;
	color: var(--descr-color);
}

.contact-links-top-tel {
	padding-left: 50px;
	text-decoration: none;
	color: var(--descr-color);
}

.contact-links-top-mail:hover,
.contact-links-top-mail:focus,
.contact-links-top-mail:active {
	color: var(--active-color);

	text-decoration: none;
}
.contact-links-top-tel:hover,
.contact-links-top-tel:focus,
.contact-links-top-tel:active {
	color: var(--active-color);
	text-decoration: none;
}

.contact-links {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--second-color);
	padding-top: 20px;
}
.contact-links:hover {
	color: var(--active-color);
}

.main-banner {
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	padding: 200px;
	letter-spacing: 0.06em;

	color: var(--second-color);
	display: block;
	background-color: var(--second-b-color);
	margin: auto;
	margin-bottom: 94px;

	text-align: center;
}

.title-page {
	color: var(--second-color);
	font-weight: 900;
	font-size: 44px;
	display: block;
	margin-block: 400;
	text-align: center;
	width: 696px;
	flex-wrap: wrap;
	flex-direction: row;
	margin: auto;
	text-transform: uppercase;
	margin-bottom: 30px;
}
button:hover,
button:active,
button:focus {
	color: var(--second-color, white);
	background-color: var(--active-color);
}

.btn-main-page {
	font-weight: 700;
	font-size: 16px;
	display: flex;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--second-color);
	background: var(--active-color);
	border: 0px;
	border-radius: 4px;
	cursor: pointer;
	width: 200px;
	height: 50px;
	margin: auto;
	align-items: center;
	justify-content: center;
}
.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}
.btn-portfolio {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	background-color: var(--third-b-color);
	cursor: pointer;
	border-radius: 4px;
	border: 0;
	color: var(--first-color);
	align-items: center;
	margin: 0;
	padding: 6px 22px;

	margin-left: 8px;
}
.btn-portfolio:hover {
	background-color: var(--active-color);
	color: var(--second-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}
.product-card {
	width: 370px;
	height: 404px;
	margin: 15px;
}
.product-card p {
	margin: 0;
	padding-left: 24px;
}

.product-card figcaption {
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.product-card img {
	width: 370px;
	height: 294px;
	display: block;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 35px;
}
ul {
	list-style-type: none;
	font-style: normal;
	letter-spacing: 0.03em;
	color: var(--first-color);
	display: flex;

	flex-wrap: wrap;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
}

.reference-text {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	height: fit-content;
	color: var(--descr-color);
	width: 270px;
	padding-top: 10px;

	display: flex;
	gap: 30px;
	text-align: left;
}
.reference-text-title {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.36;
	letter-spacing: 0.03em;

	color: var(--first-color);
}
.lorem-impsum-description {
	display: flex;
	gap: 30px;
	margin: 0px;
	flex-wrap: wrap;
	flex-direction: row;
	padding-bottom: 0px;
}

.h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--first-color);
}
.work_photo {
	border: 0px;
}
.worker_photo {
	border: 0px;
}
.about-company {
	font-size: 36px;
	font-weight: 700;
	font-family: "Roboto";
	text-align: center;

	line-height: 1.17;
}
.page-list {
	list-style-type: none;
	display: flex;

	gap: 30px;
}
.workers {
	background-color: var(--third-b-color);
}
.team {
	font-size: 36px;
	font-weight: 700;
	font-family: "Roboto";
	line-height: 1.17;
	padding-left: 0px;
	padding-right: 0px;
}

.team-section {
	display: flex;
	justify-content: space-around;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	gap: 30px;
}

.worker-list {
	list-style-type: none;

	justify-content: space-evenly;

	background-color: var(--second-color);
	box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
		0px 2px 1px rgb(0 0 0 / 20%);
	border-radius: 0px 0px 4px 4px;
	margin: auto;
	width: 270px;
	height: 368px;
}
.worker-name {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.03em;
	color: var(--first-color);

	text-align: center;
}
.name {
	line-height: 1.17;
}

.team-position {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.03em;
	color: var(--descr-color);
	text-align: center;
}

.footer {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: var(--second-color);
	background: var(--second-b-color);
}
.footer-nav {
	padding-top: 60px;
}
.address {
	font-style: normal;
	text-decoration: none;
	color: var(--second-color);
	line-height: 1.71;
	font-size: 14px;
	padding-top: 20px;
}
.ul-footer {
	list-style-type: none;
	flex-direction: column;

	display: flex;
}

.footer-contact-mail {
	padding-top: 0px;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	list-style-type: none;
}
.footer-contact-tel {
	padding-top: 0px;

	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	list-style-type: none;
	padding-bottom: 60px;
}

.footer-contact-mail:hover,
.footer-contact-tel:hover {
	color: var(--active-color);
}

.panel-name {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	padding-top: 20px;
	line-height: 36px;
	letter-spacing: 0.06em;
	color: var(--first-color);
}

.panel-content {
	font-style: normal;
	font-weight: 400;
	padding-top: 4px;
	padding-bottom: 20px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: var(--descr-color);
}

.header {
	background: var(--second-color);
	margin: auto;
	flex-direction: row;
	display: flex;
	height: 80px;
	border-bottom: 1px solid #ececec;
	margin: 0px;
	padding: 0px;
}

.center {
	height: 600px;
	top: 80px;
	background: var(--second-b-color);
	width: 1170px;
	margin: auto;
}
.section {
	padding: 94px 0px 94px 0px;
}
